.image-medalworth-index{
    background-color: white;
    margin-top: 50px;
}

.image-image-medalworth{
    width: 100%;
    height: 100%;
}

.image-medalworth-headimg h4{
   letter-spacing: 5px;
   margin-bottom: 50px;
   margin-left: 20px;
   font-weight: bold;
}


.image-image-medalworth{
    margin-bottom: 40px;
}
